/* ==========================================================
   Configuración de colores a través de regla HSL
   ========================================================== */


/* Configuración general de la página */
body {
    font-family: Arial, sans-serif;
    margin: 30px;
}


/* ==========================================================
   CASO 1: COLOR DEL TEXTO

   hsl(0, 100%, 50%) representa el color rojo.
   ========================================================== */

.titulo {
    color: hsl(0, 100%, 50%);
}


/* ==========================================================
   CASO 2: COLOR DE FONDO

   hsl(120, 100%, 25%) representa un color verde oscuro.
   ========================================================== */

.parrafo {
    background-color: hsl(120, 100%, 25%);
    color: hsl(0, 0%, 100%);
    padding: 15px;
}


/* ==========================================================
   CASO 3: COLOR DEL BORDE

   hsl(240, 100%, 50%) representa el color azul.
   ========================================================== */

.caja {
    border: 5px solid hsl(240, 100%, 50%);
    padding: 20px;
    margin-top: 20px;
}